<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<form>
  <div class="p-3 mb-2 bg-primary text-white text-center">Twoje wszystkie transakcje</div>
    <div class="container">
<br>  <p class="text-center">Przejdz do <a href="/indexforgosc">strony głównej</a></p>
<hr>
<tr  th:each ="Platnosci : ${wyswietlzamowieniausera}" class="col"> 

<div class="card">
<table class="table table-hover shopping-cart-wrap">
<thead class="text-muted">
<tr>
  <th scope="col">Nazwa produktu</th> 
  <th scope="col">Kwota</th>  
  <th scope="col">Od</th>  
  <th scope="col">Do</th>  
</tr>
</thead>
<tbody>

<tr>
  <td>
    <div><b th:utext="${Platnosci.Zamowienia.Product.Name}"></b> </div>
    </td>
	<td> 
    <div><b th:utext="${Platnosci.Price}"></b> </div>
	</td>
  <td> 
    <div><b th:utext="${Platnosci.DataOd}"></b> </div>
	</td>
  <td> 
    <div><b th:utext="${Platnosci.DataDo}"></b> </div>
	</td>
   

</form>



