<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<form>
  <div class="p-3 mb-2 bg-primary text-white text-center">Wszystkie zamowienia</div>
    <div class="container">
<br>  <p class="text-center">Przejdz do <a href="/index">strony głównej</a></p>
<p class="text-center">Przejdz do <a href="/wyswietlplatnosci">wszystkich platnosci</a></p>
<hr>
<tr  th:each ="Zamowienia : ${wyswietlzamowienia}" class="col"> 

<div class="card">
<table class="table table-hover shopping-cart-wrap">
<thead class="text-muted">
<tr>
  <th scope="col">Id zamowienia</th>
  <th scope="col">Id Produktu</th>
  <th scope="col">Kwota</th>  
</tr>
</thead>
<tbody>

<tr>
	<td>

	<div><b th:utext="${Zamowienia.Id}"></b> </div>

	</td>
  <td>

    <div><b th:utext="${Zamowienia.Product.id}"></b> </div>
  
    </td>
	<td> 
    <div><b th:utext="${Zamowienia.Price}"></b> </div>
	</td>
   

</form>



